<!doctype html>
<html lang="en" >
<head>
  <base href=”/”>
</head>

<body>

 <div id="id01" class="modal" >
  <form method="post" align="center">
    <div align="center" style="margin: 20px;"><label class="programador" >Programador de tareas</label>
    </div>

    <div class="imgcontainer" align="center" width="40%">
      <img width="40%" src="assets/images/image2.png" >
    </div>
  
    <div class="container" align="center" width="40%">
      <label for="uname"><b>Nombre de usuario</b></label><br>
      <input type="text" placeholder="Ingrese nombre de usuario" name="uname" required>
      <br>
      <label for="psw"><b>Contraseña</b></label><br>
      <input type="password" placeholder="Ingrese contraseña" name="psw" required><br>
      <button (click)="navegarCalendario()" type="submit" align="center" width="40%">Ingresar</button>
    </div>
  </form>
  </div>
</body>
</html>
